<img>

<div class="menu">
<a [routerLink]="['/public/home']">Home</a>
<a [routerLink]="['/public/publicbooks']">products</a>
<a [routerLink]="['/public/about']">about</a>
<a [routerLink]="['/login']">login</a> 
<!-- login isnt in the publicnav it is independent -->
</div>
<div class="secendmenu">
    <div class="book">books  |</div>
    <div (click)="categories()" class="cat">
    <a class="cat" >Categories  ▾ </a>
    </div>
    <a class="cat" href="#">New and Trending ▾ </a>
    <a class="cat" href="#">Best sellers  ▾ </a>
</div>

<ul [class.hidden]="iscategoryvisible" class="categoriemenu">
<li> romanse</li>
<li> crime</li>
<li> romanse</li>
<li> history</li>


</ul>