:host {
    // width: 20%; this make the boxes go on top in time of the smaller window
    box-sizing: border-box;


}

.box {
    // display: flex;
    // flex-wrap: wrap;
    // width: 20%;
    // height: 60%;
    // border-radius: 5px;
    // border: 1px solid rgb(163, 159, 159);
    background-color: rgb(255, 255, 255);
    // padding: 20px;
    // margin: 10px;
    // width: 200px;
    height: 290px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //     max-width: 300px;
    // min-width: 210px;
    font-size: medium;
    // margin:;
padding: 0.1em;

    .image {

        //problem in odei he size of pics
        img {
            height: 200px;
            width: 100%;
            // border-radius: 5px;
            object-fit:contain;
            // margin: 10px;
            // margin-right: 10px;

        }
    }

    .price {
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        button {
            height: 4vh;
            background-color: rgb(188, 202, 188);
            color: azure;
        overflow:initial;
            border-radius: 5px;
        }
    }

}