<div  class="box">
    <div class="image">
        <img (click)="detailBooks()" src="/images/{{product.pic}}">
                                         <!-- come here  -->
    </div>
    <div class="title">
        {{product.Title}}
    </div>
    <div class="author">
        {{product.author}}
    </div>
    <div class="price">
        <button (click)="buy(product)">
            @if(action=='buy'){
            add to list
            }
            @else {
            remove from list
            }
        </button>
<!-- butto on click and going to the new pae of each book
 it goes with servieces an id
 one compoent 
 Url attached -->


        {{product.price}}
    </div>
</div>
<ul [class.hidden]="isdetailvisible">
<div  class="detail">
    <img src="/images/{{product.pic}}">
    <div class="text">
        {{product.info}}
    </div>
</div>
</ul>